.nav-div {
  background-color: #3D3D3D;
  padding: 1em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: .5em;
}

.nav-link:hover {
  background-color: rgba(159, 158, 156, 0.92);
}

.nav-icons {
  font-family: 'portfolio-icons';
  font-size: 1em;
  margin-right: .5em;
  vertical-align: bottom;
}
